/* -- style_mall -- */

	.goldbg{
	margin:0 auto;
    margin-top: 5px;
	background:rgba(14, 255, 0, 0.23);
	width:70px;
	height:20px;
	border-radius:5px;
	text-align: center;
	padding-bottom: 5px;
}
	.mallItem{
		width: 40%;
		height: 154px;
		border: 0px;
		text-align: center;
		margin: 5%;
		float: left;
		background: rgba(0, 38, 49, 0.65);
	}

	.itemPrice{
		color: yellow;
		font-size: 16px;
	}
	.line{
		font-size:12px;
		margin-bottom: 0px;
	}


.mymodal-footer {
  padding: 15px;
  text-align: right;
  /*border-top: 1px solid #e5e5e5;*/
}
.mymodal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.mymodal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.mymodal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.mymodal-footer:before,
.mymodal-footer:after {
  display: table;
  content: " ";
}
.mymodal-footer:after {
  clear: both;
}

